<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>   

    <title>HTML CSS JAVASCRIPT BASIC</title>
</head>

<body>

    <div class="row">
        <div class="col-12">

            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">HTML 5: Register</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto"></ul>
                        <form class="d-flex">
                            <a class="btn btn-secondary my-2 my-sm-0" href="../index.html">Home</a>
                            <span>&nbsp;</span>
                            <a class="btn btn-secondary my-2 my-sm-0" href="./login.html">Login</a>
                        </form>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <div class="container">

        <div class="row mt-1">
            <div class="col-3">

            </div>
            <div class="col-6">

                <form action="./register" method="POST" class="mt-3 mb-3"  id="form-reg" >
                    <fieldset>
                        <legend>Registro</legend>
                        <div class="form-group">
                            <label for="inputNames" class="form-label mt-4">Nombres</label>
                            <input type="text" class="form-control" id="inputNames" placeholder="Enter nombres">
                            <small id="names" class="form-text text-muted">Recuerde los nombres contienen solo
                                caracteres alfabéticos.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputLastNames" class="form-label mt-4">Apellidos</label>
                            <input type="text" class="form-control" id="inputLastNames" placeholder="Enter apellidos">
                            <small id="lastNames" class="form-text text-muted">Recuerde los apellidos contienen solo
                                caracteres alfabéticos.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputId" class="form-label mt-4">Identificación</label>
                            <input type="text" class="form-control" id="inputId" placeholder="Enter identificación">
                            <small id="idu" class="form-text text-muted">Ejemplo: 13451654.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputUser" class="form-label mt-4">Usuario (Email address)</label>
                            <input type="email" class="form-control" id="inputUser" placeholder="Enter email">
                            <small id="user" class="form-text text-muted">Email valido.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswd" class="form-label mt-4">Contraseña</label>
                            <input type="password" class="form-control" id="inputPasswd" placeholder="contraseña">
                            <small id="idpasswd" class="form-text text-muted">La contraseña debe tener más de ocho
                                caracteres, además, la contraseña debe contener al menos un número, un carácter
                                especial y una carácter en mayúscula.</small>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                            <input type="submit" class="btn btn-primary mt-3"></input>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="col-3">

            </div>
        </div>

    </div>

    <script src="../js/app.js"></script>
</body>

</html>